<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender"><!-- COnsole appender-->
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>[%date] Thread:%thread [%-5level] %logger{40} - %message%n</pattern>
        </encoder>

    </appender>

    <logger name="com.potatospy" level="DEBUG"/>
    <logger name="org.springframework" level="DEBUG"/>
    <!--Below is logger for JDBC errors -->
    <logger name="org.springframework.jdbc" level="error" additivity="false">
        <appender-ref ref="STDOUT"/><!--Aren't all the loggers configured for STDOUT by LINE 2 of this file?-->
    </logger>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>
