<!DOCTYPE html>
<html lang="en">

<navigation id="navigationId">
    <!-- CSS not working... not sure which directory css should go in -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" media="all" href="navigation.css">

    <div class="topnav" id="myTopnav">
        <a href="#home" class="active">Home</a>|
        <a href="#catalogsimple">Simple View</a>|
        <a href="#catalogdetail">Detail View</a>|
        <a href="#logout">Logout</a>
        <!--<a href="javascript:void(0);" class="icon" onclick="myFunction()">-->
            <!--<i class="fa fa-bars"></i>-->
        </a>
    </div>
</navigation>

</html>