<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head id="headId">
    <meta charset="UTF-8">
    <title>Title content</title>
</head>
<body>

<div id="navigationId"/>

<table>
    <tr><th>Book Index</th>
        <th>Book Title</th>
        <th>File Location</th>
        <th>Published Date</th>
        <th>Delete?</th>
        <th>Author</th>
        <th>Book Modified</th>
        <th>Edit</th>
    </tr>

    <tr th:each="book : ${bookdata}">
        <td th:text="${book.id}"></td>
        <td th:text="${book.bookTitle}"></td>
        <td th:text="${book.fileLoc}"></td>
        <td th:text="${book.publishedDate}"></td>
        <td th:text="${book.markedForDeletion}"></td>
        <td th:text="${book.authors}"></td>
        <td th:text="${book.modifiedDateTime}"></td>
        <td>
            <a th:href="@{__${T(com.potatospy.bookcatalog.util.Mappings).EDIT_BOOK}__(id=${book.id})}" th:text="#{bc.editButton}"/></td>
    </tr>
</table>




    </body>
</html>