<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head id="headId">
    <meta charset="UTF-8">
    <title>Title content</title>
</head>
<body>

<div id="navigationId"/>

<div align="center">

    <h1 id="welcomeMessage"></h1>

    <h3>
        <a id="goToCatalogSimple">Go to catalog
        </a>
    </h3>

</div>



    <h2>Feature Tracking</h2>
    <ol>
        <li>Is the header and footer working on all pages?</li>
        <li>JSP support</li>
        <li>Are all texts stored in messages files</li>
        <li>All the html files have: html lang="en" at the top</li>
        <li>Consider AddBook feature (would require file upload capacity</li>
        <li>Which one @GeneratedValue(strategy=GenerationType.IDENTITY)
            @GeneratedValue(strategy = GenerationType.AUTO)</li>
        <li>Make sure comments are updated before release</li>
        <li>Setup formating in catalog views</li>
        <li>@Value is underlined red when I try to refer to application.properties to configure book directory</li>
    </ol>




    <div id="footerId">Footer goes here</div>





</body>
</html>