<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head id="headId">
    <meta charset="UTF-8">
    <title>Title content</title>
</head>
<body>

<div id="navigationId"/>

<div align="center">

    <h1 id="welcomeMessage"></h1>

    <h3>
        <a id="goToCatalogSimple">Go to catalog
        </a>
    </h3>

</div>



    <h2>Feature Tracking</h2>
    <ol>
        <li>Add book</li>
        <li>Send user to LOADING page when performing book scan and load</li>
        <li>Japanese support</li>
        <li>Featuring tracking and known issues quick view/edit</li>
        <li>Read Book button</li>
        <li>Directory tracking in header for detail/simple</li>
        <li>Estimated time remaining for loadBookDirectory</li>
        <li>Add isRUnning to loadBookDirectory method</li>
        <li>https://isbndb.com/ , get API for ISBN lookup</li>
        <li>Is the header and footer working on all pages?</li>
        <li>JSP support</li>
        <li>Are all texts stored in messages files</li>
        <li>Consider AddBook feature (would require file upload capacity</li>
        <li>Make sure comments are updated before release</li>
        <li>Setup formating in catalog views</li>
    </ol>

    <h2>Known Issues</h2>

    <ol>
        <li>If a file gets moved manually, the DB will not mirror that change until a scan/load. So the app should detect such a change</li>
        <li>User can Edit a book's fie location</li>
        <li>Local mysql connection not available until I open workbench!</li>
        <li>Time to implement duplicate check to loadBookDirectory</li>
        <li>org.apache.tika.exception.TikaException: can't copy beyond array length</li>
        <li>Header menu is currently static. How will I make it show SImple View link ?</li>
        <li>All the html files have: html lang="en" at the top - causes issues with localization?</li>
        <li>Which one @GeneratedValue(strategy=GenerationType.IDENTITY)
            @GeneratedValue(strategy = GenerationType.AUTO)</li>
        <li>@Value is underlined red when I try to refer to application.properties to configure book directory</li>
        <li>application.properties is still uploaded! Why isnt it ignored?</li>
    </ol>




    <div id="footerId">Footer goes here</div>





</body>
</html>